# docker-compose.yml

services:
  db:
    image: postgres:16
    container_name: capstone_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER:-user}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-password}
      POSTGRES_DB: ${DB_NAME:-papers}
    ports:
      - "${DB_PORT:-5432}:5432"
    volumes:
      - capstone_postgres_data:/var/lib/postgresql/data
    networks:
      - capstone_network

  chromadb:
    image: chromadb/chroma
    container_name: chroma_container
    ports:
      - "8000:8000"
    volumes:
      - capstone_chroma_data:/data
    environment:
      - IS_PERSISTENT=TRUE
    restart: unless-stopped
    networks:
      - capstone_network

  web:
    build: .
    container_name: capstone_web
    restart: always
    ports:
      - "8080:80"
    working_dir: /app
    depends_on:
      - db
      - chromadb
    environment:
      - PGPASSWORD=${DB_PASSWORD:-password}
      - DB_HOST=db
      - DB_NAME=${DB_NAME:-papers}
      - DB_USER=${DB_USER:-user}
      - DB_PASSWORD=${DB_PASSWORD:-password}
      - DB_PORT=5432
      - TEST_MODE=${TEST_MODE:-false}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - CLERK_SECRET_KEY=${CLERK_SECRET_KEY}
      - CLERK_PUBLISHABLE_KEY=${CLERK_PUBLISHABLE_KEY}
      - CLERK_FRONTEND_API_URL=${CLERK_FRONTEND_API_URL}
      - HOSTNAME=${HOSTNAME}
      - FLASK_APP=app.py
      - FLASK_ENV=development
      - FLASK_DEBUG=1
      - CHROMA_HOST=chromadb
    networks:
      - capstone_network

  frontend:
    build:
      context: ./frontend
      args:
        VITE_TEST_MODE: ${TEST_MODE:-false}
        DEPLOYMENT_ENV: local
    container_name: capstone_frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - web
    networks:
      - capstone_network
      
  grafana:
    image: grafana/grafana:12.2.1
    container_name: grafana_container
    restart: unless-stopped
    environment:
      - GF_LOG_LEVEL=warn
    ports:
      - "3000:3000"
    volumes:
      - grafana-storage:/var/lib/grafana
    networks:
      - capstone_network

  promtail:
    image: grafana/promtail:3.5.7
    container_name: promtail_container
    restart: unless-stopped
    volumes:
      - ./promtail-config.yaml:/mnt/config/promtail-config.yaml:ro
      - ./logs:/app/logs:ro
    command: -config.file=/mnt/config/promtail-config.yaml -config.expand-env=true
    env_file:
      - .env
    networks:
      - capstone_network

volumes:
  capstone_postgres_data:
  capstone_chroma_data:
  grafana-storage:

networks:
  capstone_network:
    driver: bridge
